* {
    margin: 0;
    padding: 0;
}

.outerDiv {
    display: 100vh;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin: 10px;
    padding: 50px;
}
.innerDiv {
    background-color: aliceblue;
    display: flex;
    margin: 10px;
    padding: 50px;   
}
.innerDiv2 {
    margin-left: 10px;
}
#checkbox:checked ~ .innerDiv {
    background-color: grey;
    color: white;
    transition: 200ms;

}