body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

a:active {
    color: red;
}

a::after {
    color: unset;
}

header {
    background-color: rgb(219, 216, 221);
    color: green;
    padding: 20px;
    text-align: center;
    /* box-shadow: 0 4px 10px rgb(21, 84, 64); */
}

.container {
   padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: rgb(243, 237, 237);
    padding: 20px;
    box-shadow: 0 4px 10px grey;
    border-radius: 15px;   
    text-align: center;    
}

.card h3 {
    color: rgb(0, 193, 29);
}

.card:hover {
    transform: scale(1.05);
    transition: 200ms;
}

.themeChanger {
    text-align: right;
}

#theme:checked ~ .container {
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 10px grey;
    color: rgb(164, 168, 40);
    transition: 200ms;
}

.table-box, .contact {
    padding: 20px;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    /* color: rgb(40, 5, 5); */
    font-size: 14px;
}