* {
    margin: 0;
    padding: 0;
}
.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    
    color: black;
}
.mainHeading {
    margin: 2%;
}
.mainText {
    border: 1px solid black;
    background-color: rgb(206, 206, 206);
    padding: 2%;
}